<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>會員頁面</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <h3>歡迎回來~</h3>
        <img src="enjoy.jpg" height="300">
        <br>
        
        <button onclick="addClasses()">style1</button>


        <p class="italic">帳號：</p>
        <br>
        <p class="italic">資料：</p>
        <br><br><br>
        <br><br>
        <input type="button" value="回首頁" onclick="location.href='/'" class="linkage">
        <br><br><br><br>

    </body>
    <script src="script.js"></script>
</html>